server:
  port: 8090

spring:
  mandatory-file-encoding: UTF-8

  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: update
#      ddl-auto: create-drop

  datasource:
    url: postgres://yiekzrrogvvrot:6522744933d5d0092803a938aefa6741037a550a3934ec1f6e0940e3c04be0eb@ec2-54-243-185-99.compute-1.amazonaws.com:5432/d6v728t26omq71
    username: yiekzrrogvvrot
    password: 6522744933d5d0092803a938aefa6741037a550a3934ec1f6e0940e3c04be0eb
    driverClassName: org.postgresql.Driver

  thymeleaf:
    cache: false

spring.profiles.include: 'validation'