<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Content page</title>

</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="starter-template">
            <h1>Error</h1>
        </div>
    </div>
</section>
<!--if i want to use my footer-->
<!--<section layout:fragment="footer">-->
<!--<footer class="footer">-->
<!--<p>This footer will be ignored, as no placeholder for 'footer' layout fragment was prepared in layout-->
<!--template. </p>-->
<!--</footer>-->
<!--</section>-->
</body>
</html>