<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Content page</title>

</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="starter-template">
            <h1>Welcome to Spring MVC learning project</h1>
            <h3>Training project on Spring Framework (MVC, Security).</h3>
            <p class="lead"> This is a service to create and manage shopping lists. Service was created to facilitate
                the management of personal finances.</p>
        </div>
    </div>
</section>
<!--if i want to use my footer-->
<!--<section layout:fragment="footer">-->
<!--<footer class="footer">-->
<!--<p>This footer will be ignored, as no placeholder for 'footer' layout fragment was prepared in layout-->
<!--template. </p>-->
<!--</footer>-->
<!--</section>-->
</body>
</html>