<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">

<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" th:src="@{/css/login.css}"/>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div th:if="${logout}" class="alert alert-info" role="alert">You've been logged out successfully.</div>
            <div th:if="${error}" class="alert alert-danger" role="alert">Invalid Username or Password!</div>
            <form method="post" th:action="@{/login}" class="form-signin">
                <input type="hidden"
                       th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}"/>
                <h2 class="form-signin-heading">Please sign in</h2>
                <label for="username" class="sr-only">Username</label>
                <input type="text"
                       class="form-control"
                       id="username"
                       placeholder="Username"
                       name="username"
                       th:required="required"/>
                <label for="password" class="sr-only">Password</label>
                <input type="password"
                       class="form-control"
                       id="password"
                       placeholder="Password"
                       name="password"
                       th:required="required"/>
                <button class="btn btn-lg btn-default  btn-block" type="submit">Log in</button>

                <a class="btn btn-lg btn-default btn-block" href="/registration" role="button">Create new account</a>
            </form>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</section>


</body>
</html>