<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">

<head>
    <title>Products</title>
</head>
<body>

<section layout:fragment="content">
    <div class="container">
        <div class="panel panel-default">

            <div class="panel-body">
                <a class="btn btn-default" href="#" th:href="@{'/products/add/'}">Add new product</a>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>User name</th>
                        <th>name</th>
                        <th>description</th>
                        <th>price</th>
                        <th>action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product : ${listProducts}">
                        <td th:text="${{product.user.username}}">username</td>
                        <td th:text="${{product.name}}">product.name</td>
                        <td th:text="${{product.description}}">description</td>
                        <td th:text="${{product.price}}">price</td>
                        <td>
                            <a class="btn btn-default" href="#"
                               th:href="@{'/products/delete/' + ${product.id}}">delete</a>
                            <a class="btn btn-default" href="#"
                               th:href="@{'/products/edit/' + ${product.id}}">edit</a>
                            <a class="btn btn-default" href="#"
                               th:href="@{'/products/data/' + ${product.id}}">information</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>