<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">

<head>
    <title>Add product</title>

</head>
<body>


<section layout:fragment="content">
    <div class="container">

        <!--<div class="seedstarterlist" th:unless="${#lists.isEmpty(listProducts)}">-->

        <!--<h2 th:text="#{title.list}">List of Seed Starters</h2>-->

        <table>
            <thead>
            <tr>
                <th>User name</th>
                <th>name</th>
                <th>description</th>
                <th>price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${listProducts}">
                <td th:text="${{product.user.username}}">price</td>
                <td th:text="${{product.name}}">name</td>
                <td th:text="${{product.description}}">description</td>
                <td th:text="${{product.price}}">price</td>
            </tr>
            </tbody>
        </table>
    </div>

</section>
</body>
</html>