<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">

<head>
    <title>Registration</title>
    <link rel="stylesheet" href="/css/registration.css" th:src="@{/css/registration.css}"/>
</head>
<body>

<section layout:fragment="content">
    <div class="container">

        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="alert alert-danger alert-dismissible text-center"
                 role="alert"
                 th:if="${#fields.hasErrors('${userForm.username}')}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Incorrect username.</strong>
                <span th:errors="${userForm.username}"></span>
            </div>
            <div class="alert alert-danger alert-dismissible text-center"
                 role="alert"
                 th:if="${#fields.hasErrors('${userForm.password}')}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Incorrect password.</strong>
                <span th:errors="${userForm.password}"></span>
            </div>
            <div class="alert alert-danger alert-dismissible text-center"
                 role="alert"
                 th:if="${#fields.hasErrors('${userForm.passwordConfirm}')}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span th:errors="${userForm.passwordConfirm}"></span>
            </div>
            <div class="alert alert-danger alert-dismissible text-center"
                 role="alert"
                 th:if="${#fields.hasErrors('${userForm.email}')}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Incorrect email.</strong>
                <span th:errors="${userForm.email}"></span>
            </div>

            <form method="post" th:action="@{/registration}" th:object="${userForm}" class="form-registration">
                <input type="hidden"
                       th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}"/>
                <h2 class="form-registration-heading">Create your account</h2>

                <label for="username" class="sr-only">Username</label>
                <input type="text"
                       class="form-control"
                       id="username"
                       placeholder="Username"
                       autofocus="autofocus"
                       name="username"
                       th:required="required"
                       th:field="*{username}"/>

                <label for="password" class="sr-only">Password</label>
                <input type="password"
                       class="form-control"
                       id="password"
                       placeholder="Password"
                       name="password"
                       th:required="required"/>

                <label for="passwordConfirm" class="sr-only">Password Confirm</label>
                <input type="password"
                       class="form-control"
                       id="passwordConfirm"
                       placeholder="PasswordConfirm"
                       name="passwordConfirm"
                       th:required="required"/>

                <label for="email" class="sr-only">Email</label>
                <input type="email"
                       class="form-control"
                       id="email"
                       placeholder="Email"
                       name="email"
                       th:required="required"/>

                <button type="submit" class="btn btn-lg btn-default  btn-block">Registration</button>
            </form>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</section>
</body>
</html>