<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">

<head>
    <title>Products</title>
</head>
<body>

<section layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">User details</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <img class="responsible img-rounded " alt="Image"
                                         th:src="@{images/avatars/{id}.jpg(id = ${{user.id}})}"
                                         width="200px"/>
                                    <form action="#" th:action="@{/upload}" method="post" enctype="multipart/form-data">
                                        <input type="hidden"
                                               th:name="${_csrf.parameterName}"
                                               th:value="${_csrf.token}"/>
                                        <input type="file" name="file"/>
                                        <input type="submit"/>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <dl>
                                        <dt>Name</dt>
                                        <dd th:text="${{user.username}}">username</dd>
                                        <dt>Email</dt>
                                        <dd th:text="${{user.email}}">email</dd>
                                        <dt>Roles</dt>
                                        <dd>
                                            <ul class="list-unstyled">
                                                <li th:each="role : ${user.roles}">
                                                    <span th:text="${{role.name}}">rolename</span>
                                                </li>
                                            </ul>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</section>
</body>
</html>